
*{
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1000px;
	margin: auto;
}

body{
	background: linear-gradient(-90deg,  #77037E, #000000);
	
}
header{
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	background: #000000BB;
	
}

.title{
	
	font-size: 26px;
}

section{
	padding: 20px;
	background-image: url('../img/family.jpg');
	background-size: cover;/*Background no tamanho do obejto*/
	overflow: hidden;/*Mostra a imagem toda, o que nao acontecia antes por causa do float*/
}

.formContainer{
	max-width: 230px;
	background: #FFFFFFBB;
	padding: 20px;
	float: right;
}

h2{
	font-size: 16px;
}

.mb{
	margin-bottom: 15px;
}

input,select{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border:none;
	margin-bottom: 10px;
}

p{
	font-size: 15px;
}

input[type="submit"]{
	color: white;
	background: #700680;
	font-weight: bold;
}
select{
	appearance: none;
	-webkit-appearance:none;
	-moz-appearance:none;

	background-image: url('../img/arrow.jpg');
	background-repeat: no-repeat;

	background-position-x: calc(100% - 10px);
	background-position-y: center;
}


footer{
	background: #000000;
	padding-top: 10px;
	text-align: center;
}

.picture{
	width: 200px;
}

.description{
	color: #D5D9D1;
	display: inline-block;
	max-width: 40%;
	margin-left: 40px;
	text-align: left;
}

.description p, .description h3{
	margin-bottom: 20px;
}

.description h3{
	font-size: 24px;
}

@media screen and (max-width: 556px){
	

	.formContainer{
		margin-right: 25%;
		

	}


}
