body{
	background: #2E2A2A;
}

.display-center{
	overflow: hidden;
	width: 80%;
	padding: 15px;
	background-color: #131212;
	margin: auto;
	border: 1px solid #27CE0B;
}

.display-menu{
	margin: 15px;

}
.container-menu{
	overflow: hidden;
	width: 80%;
	padding: 15px;
	background-color: #131212;
	margin: auto;
	border: 1px solid mediumvioletred;
}

.menu{
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

li{
	float: left;          /* coloca os itens lado a lado */
	margin-left: 15px;

}

.logo-menu{
	float: left;
	color: #D3D3D3;
	font-weight: 700;

}

a{
	text-decoration: none;
	color:mediumvioletred;
}

a:hover{
	color: white;

}
.title{
	text-align: center;
}

.container-video{
	position: relative;
	text-align: center;
	 width:640px; 
	 height: 360px;
	
}

.video{
	width: 100%;
}

.controls{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;/*centralizando o btnControl(filho) pois eh imagem */
} 


.btnControl{
	position: relative;
	top:100%;
	transform: translateY(-100%);/*centralizando com a altura*/
	width: 25px;
	padding: 15px; 
	padding-bottom: 5px;
}