a{
	text-decoration: none;
	border: solid 2px #01DF11;
	border-radius: 5px;
	padding: 5px;
	padding-top: 5px;
	padding-bottom:  5px;
	margin: 10px;
	font-size: 10px;
	color: #FFFFFF;

}

a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

a:hover{
	text-decoration: none;
	border: solid 2px #01DF11;
	color: #2E2A2A;
	background: #01DF09;
	border-radius: 5px;
	padding: 5px;
	padding-top: 5px;
	padding-bottom:  5px;
	margin: 10px;
}

.menu{
	padding-bottom:  20px;
	
}

body{
	background: #2E2A2A;
}




/*_________________________________________________*/

/* MATERIAL DE ESTUDO */

.block{
	background: red;
	width: 50%;   /* Aceita largura e altura especifica e a cada block a linha eh quebrada*/
	height: 45px; /* Nao pode usar elemento tipo block dentro do paragrafo e nem paragrafo dentro de paragrafo*/
}

.inline{
	background: gray;
	width: 50%;		/* Nao aceita largura e altura especifica e fica na mesma linha*/
	height: 45px;
} 

.inline-block{
	display: inline-block; /*Inline-block permite alterar altura e largura e mantem na mesma linha */
	background: green;
	width: 60%;		
	height: 45px;
} 

.display-none{
	display: none;
}

.pai-block{
	background-color: blue;
}

.paiParagrafo{
	background-color: blue;
}
.div{
	background-color: red;
}

.img{
	visibility: hidden; /* Esconde o objeto mas as suas prporcoes continuam na tela com um espaco em branco*/
}


/*_________________________________________________*/

/* OVERFLOW */

.container-overflow{
	color: orange;
	background: blue;
	width:300px;
	height: 100px;
	overflow-x: hidden;
	overflow: hidden; /*esonde parte do conteudo fora do objeto*/
	overflow: scroll; /*coloca um scrol com barra lateral*/
	overflow: auto; /*coloca um scrol com barra lateral so se necessario*/
}

/*_________________________________________________*/

/* ALINHAHMENTO HORIZONTAL */

#quadrado{
	width:  250px;
	height:  250px;
	background-color: #F8490C;
	margin-right:  auto;/*Centraliza o objeto horizontalmente junto com margin-left */
	margin-left: auto;/*Centraliza o objeto horizontalmente unto com margin-right */
	margin: auto; /*Centraliza o objeto horizontalmente */

}

#img-horizontal{
	display:block; /*passo 1 para centraliza a imagem*/
	margin: auto; /*passo 2 para centralizar a imagem*/
	text-align: center;
	padding:  15px;
	padding-top: 5px;
}

.text{
	text-align: center;
	margin: 15px;
}

.img-horizontal2{
	text-align: center;/*a imagem tem que ta dentro de uma div*/
}


/*_________________________________________________*/

/* POSITION */
.barra{
	width: 200px;
	height: 1000px;
	background-color: #860172;
	overflow: auto;
}

.square-pink{
	width: 100px;
	height: 100px;
	background: #E35A8E;
	margin-top:  10px;
}


.square-brown{
	width: 100px;
	height: 100px;
	background: #5F2E2E;
	margin-top:  10px;
}
.square{
	width: 150px;
	height:  150px;
}
.bg-blue{
	background: #30BBE3;
}

.bg-red{
	background-color: #DD3232;
}

.bg-green{
	background-color: #74CE38;
}

.bg-orange{
	background-color: #E0491B;
}

.relative{
	position: relative;   /* Pode receber left right top botton - Se posiciona a partir da sua posicao inicial*/
	top: 30%;
	left: 50%;
}

.static{
	position: static;
	left: 50px; /*Nao aceita*/
}

.fixed{
	position: fixed; /*Posicao em relacao a janela. Diferente do relative  o objeto fica fixo na tela independente do scroll*/
	left: 250px;
}

.absolute{
	position: absolute; /* Pode receber left right top botton- Se posiciona a partir tag pai ou ao body caso nao tenha pai(nao pode ser static)*/
	top: 30%;
	left: 50%;
}

.sticky{              /*Limita o objeto a uma certa posicao em relacao ao pai*/
	position: sticky;
	top:  0;
}